<!DOCTYPE html>
<html>
<title>Integration</title>
<body style="display: flex; flex-direction: column">
  <div style="display: flex; flex-direction: column; width: 200px; padding: 20px;">
    <input id="text" type="text" data-cy="text_input"></input>
    <div id="text_result" data-cy="text_result"></div>
    <input id="checkbox" type="checkbox" data-cy="checkbox_input"></input>
    <div id="checkbox_result" data-cy="checkbox_result">unchecked</div>
    <button id="button" data-cy="button">Click</button>
    <a href="#link" data-cy="link">Link</a>
  </div>
  <iframe data-cy="iframe" id="iframe" src="<%= iframeSrc %>" height="800"></iframe>
</body>
</html>