name: Unit

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  check_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - shell: bash
        run: |
          npm ci
      - shell: bash
        run: |
          npm run lint
      - shell: bash
        run: |
          npm run test
    